
.columns.is-mobile
  .column.is-half.is-offset-one-quarter
    %h1.title= (@user.new_record? ? 'Create' : 'Edit') + ' User'
    = form_for @user, html: {class: 'form'} do |f|
      %div.field
        = f.label :name, class: 'label'
        .control
          = f.text_field :name, autofocus: true, class: 'input'
      %div.field
        = f.label :title, class: 'label'
        .control
          = f.text_field :title, class: 'input'
      %div.field
        = f.label :username, class: 'label'
        .control
          = f.text_field :username, class: 'input'
      %div.field
        = f.label :manager, class: 'label'
        .control
          = f.select :manager_id, [], {}, { class: 'js-users__users-selector select input p-10'}
      %div.field
        = f.label :password, class: 'label'
        .control
          = f.password_field :password, class: 'input'
      %div
        = f.label :password_confirmation, class: 'label'
        .control
          = f.password_field :password_confirmation, class: 'input'
      %div
        = f.submit 'Save', class: 'button is-info mt-10'

= javascript_pack_tag 'users/form'