.container.c-users__show
  %h4.title
    %strong Title:
    = @user.title
  %h4.subtitle
    %strong Name:
    = @user.name
  %h4.subtitle
    %strong Username:
    = @user.username
  .buttons
    = link_to 'Edit', [:edit, @user],  class: 'button is-primary'
  %h5.has-text-centered.mt-5.title Orgainisation chart
  .tree
    = parse_tree_elements @user.descendants
  %h5.has-text-centered.mt-5.title Manager charts
  .tree
    = parse_tree_elements @user.ancestors