!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AwsomeHr
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .tree
      %ul
        %li
          %a{:href => "#"} Parent
          %ul
            %li
              %a{:href => "#"} Child
              %ul
                %li
                  %a{:href => "#"} Grand Child
                %li
                  %a{:href => "#"} Grand Child
                  %ul
                    %li
                      %a{:href => "#"} Grand Child
                    %li
                      %a{:href => "#"} Grand Child
            %li
              %a{:href => "#"} Child
              %ul
                %li
                  %a{:href => "#"} Grand Child
                  %ul
                    %li
                      %a{:href => "#"} Grand Grand Child
                %li
                  %a{:href => "#"} Grand Child
    = yield
